<div class="input-group mb-3">
  <span class="input-group-text bg-primary"
    ><i class="bi bi-person-plus-fill text-white"></i
  ></span>
  <input
    type="text"
    class="form-control"
    placeholder="Name"
    id="edit-name"
    required
  />
</div>
<div class="input-group mb-3">
  <span class="input-group-text bg-primary"
    ><i class="bi bi-person-plus-fill text-white"></i
  ></span>
  <input
    class="form-control"
    type="text"
    placeholder="Username"
    id="edit-username"
    aria-describedby="username-taken"
    required
  />
  <div class="invalid-feedback" id="username-taken">
    Username already in use
  </div>
</div>
<div class="input-group mb-3">
  <span class="input-group-text bg-primary"
    ><i class="bi bi-envelope text-white"></i
  ></span>
  <input
    type="email"
    class="form-control"
    placeholder="Email"
    id="edit-email"
    aria-describedby="email-taken"
    required
  />
  <div class="invalid-feedback" id="email-taken">Email already in use</div>
</div>
<% if(title == 'Users') { %>
<select class="form-select" aria-label="edit-role" id="edit-role"></select>
<% } %> <% if(title == 'Profile') { %>
<div class="input-group mb-3">
  <span class="input-group-text bg-primary"
    ><i class="bi bi-key-fill text-white"></i
  ></span>
  <input
    type="password"
    class="form-control"
    placeholder="Old password"
    id="old-password"
    aria-describedby="empty-field-password"
    required
  />
  <div class="input-group-addon border d-flex align-items-center" tabindex="-1">
    <a tabindex="-1" href onclick="showPassword()"
      ><i class="fa fa-eye-slash p-2" aria-hidden="true" id="eye3"></i
    ></a>
  </div>
  <div class="invalid-feedback" id="empty-field-password">
    Please fill out this field.
  </div>
</div>
<div class="input-group mb-3">
  <span class="input-group-text bg-primary"
    ><i class="bi bi-key-fill text-white"></i
  ></span>
  <input
    type="password"
    class="form-control"
    placeholder="New password"
    id="password"
    aria-describedby="empty-field-password"
    required
  />
  <div class="input-group-addon border d-flex align-items-center" tabindex="-1">
    <a tabindex="-1" href onclick="showPassword()"
      ><i class="fa fa-eye-slash p-2" aria-hidden="true" id="eye1"></i
    ></a>
  </div>
  <div class="invalid-feedback" id="empty-field-password">
    Please fill out this field.
  </div>
</div>
<div class="input-group mb-3">
  <span class="input-group-text bg-primary"
    ><i class="bi bi-key-fill text-white"></i
  ></span>
  <input
    type="password"
    class="form-control"
    placeholder="Repeat new password"
    id="repeat-password"
    required
  />
  <div class="input-group-addon border d-flex align-items-center">
    <a tabindex="-1" href onclick="showPassword()"
      ><i class="fa fa-eye-slash p-2" aria-hidden="true" id="eye2"></i
    ></a>
  </div>
  <div class="d-none" role="alert" id="invalid-password">
    Password must be at least 8 characters long.
  </div>
  <div class="d-none" role="alert" id="password-error">
    Passwords do not match.
  </div>
</div>
<% } %>
