<div class="input-group mb-3">
  <span class="input-group-text bg-primary"
    ><i class="bi bi-person-plus-fill text-white"></i
  ></span>
  <input
    type="text"
    class="form-control"
    placeholder="Name"
    id="edit-name"
    required
  />
</div>
<div class="input-group mb-3">
  <span class="input-group-text bg-primary"
    ><i class="bi bi-person-plus-fill text-white"></i
  ></span>
  <input
    class="form-control"
    type="text"
    placeholder="Username"
    id="edit-username"
    aria-describedby="username-taken"
    required
  />
  <div class="invalid-feedback" id="username-taken">
    Username already in use
  </div>
</div>
<div class="input-group mb-3">
  <span class="input-group-text bg-primary"
    ><i class="bi bi-envelope text-white"></i
  ></span>
  <input
    type="email"
    class="form-control"
    placeholder="Email"
    id="edit-email"
    aria-describedby="email-taken"
    required
  />
  <div class="invalid-feedback" id="email-taken">Email already in use</div>
</div>
<select class="form-select" aria-label="edit-role" id="edit-role">
  <option value="superadministrator">Super Administrator</option>
  <option value="administrator">Administrator</option>
  <option value="user">User</option>
</select>
