<div class="input-group mb-3">
  <span class="input-group-text bg-primary"
    ><i class="bi bi-person-plus-fill text-white"></i
  ></span>
  <input
    type="text"
    class="form-control"
    placeholder="Name"
    id="name"
    aria-describedby="empty-field-name"
    required
  />
  <div class="invalid-feedback" id="empty-field-name">
    Please fill out this field.
  </div>
</div>
<div class="input-group mb-3">
  <span class="input-group-text bg-primary"
    ><i class="bi bi-person-plus-fill text-white"></i
  ></span>
  <input
    class="form-control"
    type="text"
    placeholder="Username"
    id="username"
    aria-describedby="username-error"
    required
  />
  <div class="invalid-feedback" id="username-error"></div>
</div>

<div class="input-group mb-3">
  <span class="input-group-text bg-primary"
    ><i class="bi bi-envelope text-white"></i
  ></span>
  <input
    type="email"
    class="form-control"
    placeholder="Email"
    id="email"
    aria-describedby="email-error"
    required
  />
  <div class="invalid-feedback" id="email-error"></div>
</div>
<div class="input-group mb-3">
  <span class="input-group-text bg-primary"
    ><i class="bi bi-key-fill text-white"></i
  ></span>
  <input
    type="password"
    class="form-control"
    placeholder="Password"
    id="password"
    aria-describedby="empty-field-password"
    required
  />
  <div class="input-group-addon border d-flex align-items-center" tabindex="-1">
    <a tabindex="-1" href onclick="showPassword()"
      ><i class="fa fa-eye-slash p-2" aria-hidden="true" id="eye1"></i
    ></a>
  </div>
  <div class="invalid-feedback" id="empty-field-password">
    Please fill out this field.
  </div>
</div>
<div class="input-group mb-3">
  <span class="input-group-text bg-primary"
    ><i class="bi bi-key-fill text-white"></i
  ></span>
  <input
    type="password"
    class="form-control"
    placeholder="Repeat password"
    id="repeat-password"
    required
  />
  <div class="input-group-addon border d-flex align-items-center">
    <a tabindex="-1" href onclick="showPassword()"
      ><i class="fa fa-eye-slash p-2" aria-hidden="true" id="eye2"></i
    ></a>
  </div>
  <div class="d-none" role="alert" id="invalid-password">
    Password must be at least 8 characters long.
  </div>
  <div class="d-none" role="alert" id="password-error">
    Passwords do not match.
  </div>
</div>
