<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header id="header">
        <nav class="nav-bar">
            <h1 id="title">SIRIUZZZ PAGE</h1>
            <ul class="nav-links">
                <li class="routes" id="home"><a href="/">Home</a></li>
                <li class="routes" id="users"><a href="/users">Users</a></li>
                <li class="routes" id="about"><a href="/about">About</a></li>
                <li class="routes" id="contact"><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <%- body %> 
    <footer>
        <div id="credits">©2021 siriuzzz</div>
    </footer>
</body>

</html>