<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD//wAAKysrAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREREREREREREREAAAAAAAAREQEREREREBERAQAAAAAQEREBAAAAABAREQEBEAEQEBERAQEQARAQEREBARABEBAREQEBEAEQEBERAQAAAAAQEREBAAAAABAREQEREREREBERAAAAAAAAEREREREREREREREREREREREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
      rel="icon"
      type="image/x-icon"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" />
    <link
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
        href="http://127.0.0.1:3000/assets/bootstrap/js/bootstrap.js.map"
        rel="stylesheet"
      />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=Array.from,Promise,Symbol,Object.setPrototypeOf,Object.getOwnPropertySymbols,Set"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>
    <title><%- title %></title>
  </head>

  <body>
    <nav class="container">
      <header
        class="
          d-flex
          flex-wrap
          align-items-center
          justify-content-center justify-content-md-between
          py-3
          mb-4
          border-bottom
        "
      >
        <a
          href="/"
          class="
            d-flex
            align-items-center
            col-md-3
            mb-2 mb-md-0
            text-dark text-decoration-none
          "
        >
          <svg
            class="bi me-2"
            width="40"
            height="32"
            role="img"
            aria-label="Bootstrap"
          >
            <i class="bi bi-asterisk"></i>
          </svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-dark">Home</a></li>
          <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
          <li>
            <a href="/profile" class="nav-link px-2 link-dark">Profile</a>
          </li>
          <li>
            <a href="/users" class="nav-link px-2 link-dark">Users</a>
          </li>
          <!-- <li><a href="#" class="nav-link px-2 link-dark"></a></li>
          <li><a href="#" class="nav-link px-2 link-dark"></a></li> -->
        </ul>

        <div class="col-md-3 text-end">
          <button
            type="button"
            class="btn btn-outline-primary me-2"
            onclick='window.location.pathname = "/login"'
            id="login-button"
          >
            Login
          </button>
          <button
            type="button"
            class="btn btn-primary"
            onclick='window.location.pathname = "/register"'
            id="register-button"
          >
            Sign-up
          </button>
        </div>
      </header>
    </nav>

    <%- body %>

    <div class="container">
      <footer
        class="
          d-flex
          flex-wrap
          justify-content-between
          align-items-center
          py-3
          my-4
          border-top
          mt-100;
        "
      >
        <p class="col-md-4 mb-0 text-muted">© 2021 siriuzzz</p>

        <a
          href="/"
          class="
            col-md-4
            d-flex
            align-items-center
            justify-content-center
            mb-3 mb-md-0
            me-md-auto
            link-dark
            text-decoration-none
          "
        >
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item">
            <a href="/" class="nav-link px-2 text-muted">Home</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link px-2 text-muted">About</a>
          </li>
          <li class="nav-item">
            <a href="/profile" class="nav-link px-2 text-muted">Profile</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link px-2 text-muted">Login</a>
          </li>
          <li class="nav-item">
            <a href="/users" class="nav-link px-2 text-muted">Users</a>
          </li>
        </ul>
      </footer>
    </div>
    <script src="main.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
