<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Document</title>
  </head>

  <body>
    <%- body %>
    <footer class="fixed-bottom text-center text-lg-start bg-danger">
      <div class="text-center p-4">
        <p class="m-0">©2021 siriuzzz</p>
      </div>
    </footer>
    <script src="main.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
