<div class="px-4 py-5 my-5 text-center">
  <!-- <img class="d-block mx-auto mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
  <h1 class="display-5 fw-bold">Centered hero</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Quickly design and customize responsive mobile-first sites with Bootstrap,
      the world’s most popular front-end open source toolkit, featuring Sass
      variables and mixins, responsive grid system, extensive prebuilt
      components, and powerful JavaScript plugins.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
        Primary button
      </button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">
        Secondary
      </button>
    </div>
  </div>
</div>
<div class="d-flex flex-column justify-content-center">
  <h2 class="text-center" id="contact-form-title">CONTACT US</h2>
  <form
    class="row d-flex justify-content-center text-center m-auto w-50"
    action="/contact"
    method="POST"
    id="contact-form"
    onsubmit="confirmation()"
  >
    <div class="col-md-6 p-1">
      <input
        class="w-100"
        id="nombre"
        type="text"
        name="nombre"
        placeholder="Nombre"
        required
      />
    </div>
    <div class="col-md-6 p-1">
      <input
        class="w-100"
        id="apellido"
        type="email"
        name="email"
        placeholder="Email"
        required
      />
    </div>
    <div class="col-md-12 p-1">
      <input class="w-100" type="text" name="asunto" placeholder="Asunto" />
    </div>
    <div class="col-md-12 p-1">
      <textarea
        class="w-100 mh-50"
        type="text"
        name="mensaje"
        placeholder="Mensaje"
        required
      ></textarea>
    </div>
    <button type="submit">Enviar</button>
  </form>
</div>
