<body>
    <div class='d-flex justify-content-center align-items-center'>
        <button onclick="logOut();">LOG OUT</button>
    </div>
    <div class='d-flex justify-content-center align-items-center'>
        <button onclick="deleteAccount();">DELETE ACCOUNT</button>
    </div>
</body>