<!-- EDIT USER MODAL -->
<div
  class="modal fade"
  id="editProfileModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Profile</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form method="PUT" action="/edit-profile" novalidate>
        <div class="modal-body"><%- include("partials/edit-user.ejs") %></div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button class="btn btn-primary" type="submit" onclick="editProfile()">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container" id="profile"></div>
