<body>
  <div class="register">
    <h2 class="text-center align-items-center mb-3" id="user-title">
      Create account
    </h2>
    <form
      method="POST"
      action="/users"
      class="w-100 m-auto row"
      id='register-form'
      onsubmit="sendData()"
    >
      <div>
        <label for="name" class="w-25">Name</label>
        <input
          name="name"
          class="register-inputs"
          type="text"
          id="name"
          required
        />
      </div>
      <div>
        <label for="username" class="w-25">Username</label>
        <input name="username" class="register-inputs" id="username" required />
      </div>
      <div>
        <label for="email" class="w-25">Email</label>
        <input name="email" class="register-inputs" id="email" required />
      </div>
      <div>
        <label for="password" class="w-25">Password</label>
        <input
          name="password"
          type="password"
          class="register-inputs"
          id="password"
          required
        />
      </div>
      <div>
        <label for="repeat-password" class="w-25">Repeat password</label>
        <input
          name="repeat-password"
          type="password"
          class="register-inputs"
          id="repeat-password"
          required
        />
      </div>

      <button
        class="w-50 m-auto"
        id="users-submit-button"
        type="submit"
        onclick="userDisplay()"
      >
        Crear
      </button>
    </form>
  </div>
</body>
