<div class="container-fluid">
  <div class="" style="margin-top: 100px; margin-bottom: 100px">
    <div class="rounded d-flex justify-content-center">
      <div class="col-md-5 col-sm-12 shadow-lg p-5 bg-light">
        <div class="text-center">
          <h3 class="text-primary" id="register-title">Create Account</h3>
        </div>
        <div class="p-4">
          <form method="POST" action="/register" onsubmit="sendRegisterData()" novalidate>
            <%- include('partials/register-form.ejs') %> 
            <div class="d-grid col-12 mx-auto">
              <button class="btn btn-primary" type="submit">Sign up</button>
            </div>
            <p class="text-center mt-3">
              Already have an account?
              <span class="text-primary"><a href="/login">Log in</a></span>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
