<tr>
  <th scope="row"><%= i + 1 %></th>
  <td><%= user.name %></td>
  <td><%= user.username %></td>
  <td class="d-flex justify-content-between"><%= user.email %></td>
  <td>
    <!-- Call to action buttons -->
    <ul class="list-inline m-0">
      <li class="list-inline-item">
        <button
          class="btn btn-success btn-sm rounded-0"
          type="button"
          data-toggle="tooltip"
          data-placement="top"
          title="Edit"
        >
          <i class="fa fa-edit"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button
          class="btn btn-danger btn-sm rounded-0"
          type="button"
          data-toggle="tooltip"
          data-placement="top"
          title="Delete"
        >
          <i class="fa fa-trash"></i>
        </button>
      </li>
    </ul>
  </td>
</tr>
