.bg-primary { background-color: #DB324D !important;}
.register{
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  background-color: darkturquoise;
  width           : 65%;
  margin          : 10% auto;
  border-radius   : 0.55rem;
  padding         : 1em;
}

.register-inputs{
  border-radius   : 0.25rem !important;
  width           : 75% !important;
}

.register-form div label{
  width:5%;
}